<div ng-if="narrowItDown.found.length > 0" class="raw">
	<table class="table table-bordered table-striped table-responsive">
		<tr>
			<th class="col-md-2">Item Name</th>
			<th class="col-md-1">Item Short Name</th>
			<th class="col-md-4">Item Description</th>
			<th class="col-md-2">Don't want this one!</th>
		</tr>
		<tr ng-repeat="item in narrowItDown.found">
			<td class="col-md-2">{{ item.name }} </td>
			<td class="col-md-1">{{ item.short_name }} </td>
			<td class="col-md-4">{{ item.description }} </td>
			<td class="col-md-1">
				<button ng-click="narrowItDown.onRemove({index: $index});">Don't want this one!</button>
			</td>
		</tr>
	</table>
</div>
<div ng-if="narrowItDown.empty" class="error"> <h4 style="text-align: center; color:red;"> Nothing found.</h4></div>